.line-chart {
  /* background: rgba(255, 255, 255, 0.1); */
  background: var(--white);
  border-radius: 8px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.line-chart h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}
