.menu-icon,
.menu-icon-container,
.css-jhjqlk {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

.menu-icon {
  cursor: pointer;
  padding: 2rem;
  /* background-color: rgba(255, 255, 255, 0.1); */
  background-color: var(--white);
  border-radius: 4px;
  transition: color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  color: var(--default);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.menu-icon-primary {
  background-color: var(--white);
  color: var(--primary-dark);
}

.menu-icon-secondary {
  background-color: var(--white);
  color: var(--msc-red);
}

.menu-icon:hover,
.menu-icon:focus {
  transform: scale(1.1);
  /* box-shadow: 0 0 5px #ff0033, 0 0 10px #c20329, 0 0 15px #87041e; */
  /* box-shadow: 1px 1px 4px hsla(27, 100%, 50%, 0.756),
    0 0 8px hsla(269, 100%, 50%, 0.5), 0 0 12px hsla(306, 100%, 50%, 0.253); */
  box-shadow: 1px 1px 5px #32323280;
}

.menu-icon-container {
  gap: 0.5rem;
  max-width: fit-content;
}

.menu-text {
  font-weight: 600;
  /* color: var(--glass); */
  color: var(--gray);
  text-align: center;
  font-size: 12px;
  max-width: min-content;
}

.css-jhjqlk {
  flex-direction: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

/* .css-jhjqlk:hover {
  color: var(--msc-red);
  transform: scale(1.1);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
} */

@media screen and (max-width: 768px) {
  .menu-icon-container {
    flex-wrap: wrap;
    margin-bottom: 1rem;
  }
}

* + * {
  margin-top: 1rem;
}
