.container {
  padding: 2rem;
  /* background-color: rgba(255, 255, 255, 0.1); */
  /* backdrop-filter: blur(10px);
  border-radius: 8px; */
  /* border: 1px solid rgba(255, 255, 255, 0.1); */
}

.container {
  margin: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.page-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: Left;
  color: var(--gray-dark);
}

.page-subtitle {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: var(--gray-dark);
}

.text-gradient {
  background: linear-gradient(45deg, #ff3700, #d908c4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mb-1 {
  margin-bottom: 1rem;
}

* + * > * {
  margin-bottom: 1rem;
}

.page-label {
  font-size: 1rem;
  font-weight: 600;
  color: var(--gray-dark);
  margin-bottom: 1rem;
  text-align: center;
}
.adaptive-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-auto-rows: auto; /* New property */
  grid-gap: 1rem;
  justify-content: center;
  align-items: start; /* Align items to start on cross axis */
}
